* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellota", system-ui;
}

.acessivel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

body {
  background-color: #FFF6E8;
}

.main_home {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.secao_logo {
  display: flex;
  flex-direction: column;
  width: 360px;
  justify-content: space-between;
  align-items: center;
}

.secao_logo svg {
  width: 240px;
  margin-top: 50px;
}

.secao_logo img {
  width: 300px;
}

.secao_cards {
  width: calc(100% - 360px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

.card {
  width: 260px;
  height: 360px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 10px 10px 40px 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 0 40px 2px #000000;
  margin: 50px 0;
}

.card_cacau {
  background: linear-gradient(180deg, rgba(59, 31, 0, 1) 0%, rgba(107, 57, 0, 1) 100%);

}

.card_cerimonia {
  background: linear-gradient(180deg, rgba(5, 36, 113, 1) 0%, rgba(10, 68, 215, 1) 100%);

}

.card_morango {
  background: linear-gradient(180deg, rgba(119, 11, 11, 1) 0%, rgba(175, 0, 0, 1) 100%);

}

.card_natal {
  background: linear-gradient(180deg, rgba(7, 108, 13, 1) 0%, rgba(0, 148, 10, 1) 100%);

}

.card_coco {
  background: linear-gradient(180deg, rgba(104, 49, 50, 1) 0%, rgba(206, 96, 98, 1) 100%);

}

.card_destaques {
  background: linear-gradient(180deg, rgba(141, 46, 142, 1) 0%, rgba(177, 54, 179, 1) 100%);

}

.card svg:first-child {
  width: 26px;
  align-self: flex-end;
}

.svg_principal {
  width: 170px;
}



/* RODAPE */
footer {
  width: 100%;
  height: 60px;
  background-color: #FFD188;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.whatsapp {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transition: transform 0.5s ease-in-out,
    filter 0.5s ease-in-out;
}

.whatsapp img {
  width: 80px;
  filter: drop-shadow(0 5px 1px #00000025);
}

.whatsapp:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 10px 2px #00000025);
}


/* MEDIA */
@media screen and (max-width: 1050px) {
  .main_home {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .secao_logo {
    position: relative;
    margin-top: 50px;
  }


  .secao_logo svg {
    position: absolute;
    top: 230px;
    background-color: #FFD188;
    padding: 10px 40px 5px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 2px #00000025;

  }


  .secao_logo img {
    width: 150px;
  }

  .secao_cards {
    width: 100%;
  }
}